<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrive.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>28022BACA6A3F11B2EC4CCA5935C67BBFFFD1714</string>
				<key>dateExpires</key>
				<string>12/6/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PEVL7W78Y7.com.bonobodigital.apps.arrive</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PEVL7W78Y7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Arrive.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a441be2d-cfde-4cb4-8362-94d7d7ea3f6f</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.bonobodigital.apps.arrive</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PEVL7W78Y7</string>
				<key>name</key>
				<string>Corporativo Three Wise Monkeys, Corporation</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
